# Copyright 2021-2024 The OpenSSL Project Authors. All Rights Reserved.
#
# Licensed under the Apache License 2.0 (the "License").  You may not use
# this file except in compliance with the License.  You can obtain a copy
# in the file LICENSE in the source distribution or at
# https://www.openssl.org/source/license.html

name: GitHub CI

on: [pull_request, push]

jobs:
  check_tests:
    runs-on: ${{ matrix.platform.os }}
    strategy:
      matrix:
        platform: [
          { os: ubuntu-24.04, cc: gcc, cxx: g++, CMAKE_EXTRA_ARGS: "" },
          { os: ubuntu-24.04, cc: clang, cxx: clang++, CMAKE_EXTRA_ARGS: "" },
          { os: ubuntu-24.04-arm, cc: gcc, cxx: g++, CMAKE_EXTRA_ARGS: "-DOPENSSL_NO_ASM=yes" },
          { os: ubuntu-24.04-arm, cc: clang, cxx: clang++, CMAKE_EXTRA_ARGS: "-DOPENSSL_NO_ASM=yes" }
        ]
      fail-fast: false
    env:
      CC: ${{ matrix.platform.cc }}
      CXX: ${{ matrix.platform.cxx }}
    steps:
    - name: install tools
      run: |
         sudo apt-get update
         sudo apt-get -yq install cmake ninja-build
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: make build dir
      run: mkdir build
    - name: run cmake
      run: cd build && cmake .. ${{ matrix.platform.CMAKE_EXTRA_ARGS }} -GNinja
    - name: run tests
      run: cd build && ninja test
